.App {
  text-align: center;
}
.Login {
  position: absolute;
  width: 448px;
  height: 150px;
  left: 944px;
  top: 5%;
  color: #d32323;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 75px;
}
.user-login {
  background: #f5f5f5;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  height: 50px;
  border-radius: 7px;
  border-spacing: 10px;
  text-align: center;
}
.user-password {
  background: #f5f5f5;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  height: 50px;
  border-radius: 7px;
  text-align: center;
}
.login-btn {
  width: 50px;
  height: 50px;
  left: 50px;
  top: 50px;
  background: #e7e4e4;
  border-radius: 10px;
}
.reg-btn {
  width: 100px;
  height: 50px;
  left: 50px;
  top: 50px;
  background: #e7e4e4;
  border-radius: 10px;
}
.eat-img {
  float: left;
  width: 100%;
  height: auto;
  object-fit: cover;
  left: 100%;
  right: 0;
  margin: 0 auto;
}
.Register {
  position: absolute;
  width: 300px;
  height: 150px;
  left: 944px;
  top: 30px;
  color: #d32323;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 60px;
}
.reg-user {
  background: #f5f5f5;
  border: 1px solid #c4c4c4;
  height: 50px;
  border-radius: 7px;
  text-align: center;
}
.sub-btn {
  width: 100px;
  height: 50px;
  left: 50px;
  top: 50px;
  background: #e7e4e4;
  border-radius: 10px;
}
